@import 'tailwindcss';

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  
  --color-canadian-red: #D80621;
  --color-canadian-red-hover: #B0051B;
  --color-charcoal: #333333;
  --color-light-slate: #F8F9FA;
  --color-white: #FFFFFF;

  --color-background: var(--color-white);
  --color-foreground: var(--color-charcoal);
  --color-primary: var(--color-canadian-red);
  --color-primary-hover: var(--color-canadian-red-hover);

}

:root {
  --background: var(--color-white);
  --foreground: var(--color-charcoal);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 1200px;
}
